page-home {
.imgbg{
    position: relative;
    top: 70px;
    background-color: transparent;
}
.round{
    border: 2px solid #6785c1 !important;
    margin:10px auto;
    border-radius: 10px !important;
}
.form{
    position: relative;
    top: 100px;
    margin-top: 20px;
}
.lgbtn{
    padding-top: 20px;
    #sizebtn{
        width: 200px;
    }
}
.footer{
    position: relative;
    top: 135px !important;
}
}
