login {
    .form1{
        position: relative;
        top: 100px;
        margin-top:20px;
        background-color: transparent !important;
    }
    .imgbg{
        position: relative;
        top: 70px;
        background-color: transparent;
    }
    .lgbtn{
        position: relative;
        padding-top: 20px;
        top: 100px;
        #btn{
            width: 200px;
        }
    }
    .footer{
        position: relative;
        top: 225px !important;
    }
    .round{
        border: 2px solid #6785c1 !important;
        margin:10px auto;
        border-radius: 10px !important;
    }
}


